<form class="container" [formGroup]="purchaseform" (ngSubmit)="SavePurchase()">
    <div class="card">
        <h3>{{pagetitle}}</h3>
        <div class="card-header col-lg-12">
            <a class="btn btn-info" routerLink="/appmenu/purchaselisting">Back to Listing</a>

            <a class="btn btn-warning" routerLink="/appmenu/supplier">Suppliers</a>

            <a class="btn btn-secondary" routerLink="/appmenu/product">Products</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Center</label>
                        <ng-select [items]="mastercenter" [clearable]="false" 
                            bindLabel="centername" bindValue="centerno" clearAllText="Clear" formControlName="centerno" 
                            class="form-control">
                        </ng-select> 
                </div>
            </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Purchase No</label>
                        <!--    <span class="text-danger">*</span> -->
                        <input formControlName="purchaseno" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Purchase Date</label>
                        <span class="text-danger">*</span>
                        <input type="date" formControlName="purchasedate" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Customer</label>
                        <span class="text-danger">*</span>
                        <!-- <select formControlName="custno" (change)="customerchange()" class="selectpicker form-control" data-live-search="true">
                            <option *ngFor="let item of mastercustomer" [value]="item.custno">
                                {{item.customername}}
                            </option>
                        </select>
-->

                        <ng-select [items]="mastercustomer" [clearable]="false"  (change)="customerchange()"
                            bindLabel="suppliername" bindValue="supplierno" clearAllText="Clear" formControlName="supplierno"
                            class="form-control">
                        </ng-select>

                    </div>
                </div>
           <!--    -->

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea formControlName="remarks" class="form-control"></textarea>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered" formArrayName="details">

                        <thead class="bg-primary text-white">
                            <tr>
                                <td>Sl.No</td>
                                <td style="width: 20%">Product Code</td>

                                <td>Qty</td>
                                <td>Price</td>
                                <td>Total</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of invproducts.controls;let i=index" [formGroupName]="i">
                                <td>{{i+1}}</td>
                                <td>
                                    <!--        <select class="form-control" (change)="productchange(i)" formControlName="productno">
                                        <option *ngFor="let item of masterproduct" [value]="item.productno">
                                            {{item.name}}
                                        </option>
                                    </select> -->

                                    <ng-select [items]="masterproduct" (change)="productchange(i)" bindLabel="name"
                                        bindValue="productno" clearAllText="Clear" formControlName="productno"
                                        class="form-control">
                                    </ng-select>
                                </td>

                                <td>
                                    <input class="form-control" (change)="Itemcalculation(i)"
                                        formControlName="productqty" />
                                </td>
                                <td>
                                    <input class="form-control" (change)="Itemcalculation(i)"
                                        formControlName="productrate" />
                                </td>
                                <td>
                                    <input class="form-control" formControlName="total" />
                                </td>
                                <td>
                                    <a (click)="Removeproduct(i)" class="btn btn-danger">Remove</a>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <a (click)="addnewproduct()" class="btn btn-success">[+]</a>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Summary Total</label>
                        <input formControlName="total" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Summary Tax</label>
                        <input formControlName="tax" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Summary NetTotal</label>
                        <input formControlName="netTotal" class="form-control">
                    </div>
                </div>
                <div class="col-lg-12">
                    <br>
                    <button class="btn btn-success" type="submit">Save</button> |
                    <a class="btn btn-danger" routerLink="/appmenu/purchaselisting" [state]="center">Back</a>
                </div>

            </div>
        </div>

    </div>
</form>