<div class="card" style="width: 1200px">
    <h3>Listing Customer</h3>
    <div class="card-header">
        <a class="btn btn-success" routerLink="/appmenu/customer">Create New [+]</a>
    </div>
    <div class="card-body">

        <!--    <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table table-bordered"> -->
        <table datatable class="table table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <td>Customer No</td>
                    <td>Name</td>
                  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of customerlisting">
                    <td>{{item.custno}}</td>
                    <td>{{item.customername}}</td>
                        <td>{{item.customerphone1}}</td>

                    <td style="width: 30%">
                        <a class="btn btn-primary" (click)="Editcustomer(item.custno)">Edit</a> |
                        <a class="btn btn-danger" (click)="customerremove(item.custno)">Delete</a> |

                    </td>

                </tr>
            </tbody>

        </table>

    </div>

</div>